.check_type{
    position:absolute;
    width: 3em;
    height: 21.868em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 59.24em;
    margin-left: 26.15em; 
    

}

.form_control input{
    
    width: 40px;
    height: 40px;
}


