.form_control {
    
    padding: 2em;
}


.form_control input{
    padding: .6em;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: none;
    width: 10em;
}


.att_input input{
    width: 2em;
    height: 2em;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

