/*Dedicado a formatação visual especificamente na parte de posicionamento do Input.js*/

.input_format_1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 73em;
    height: 4em;
    margin-top: 1.3em;
    margin-left: 3.5em;
}



.input_format_2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 40em;
    height: 4em;
    margin-top: 9.5em;
    margin-left: 3.5em;
}

